<a href="https://colab.research.google.com/github/VictorMadu/Fraud-Detection-Challenge/blob/master/knn_distance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
import os
from scipy import stats
import pickle
import warnings; warnings.filterwarnings('ignore')

In [0]:
df = pd.read_csv("/content/drive/My Drive/fraud detection/data/processed_train.csv")

In [0]:
print(df.shape[0], df.shape[1])

10493 1259

In [0]:
df.head()

   account destination verification  ...  diff_recent_and_current_amount/time taken (seconds)
0                                 1  ...                                             305093
1                                 0  ...                                             217672
2                                 1  ...                                             380384
3                                 1  ...                                             178639
4                                 1  ...                                             409470

[5 rows x 1259 columns]

In [0]:
df[df.isnull().any(1)]

Empty DataFrame
Columns: [account destination verification, account source verification, account type, age, credit card type, current bank amount, fradulent, id, last bank amount, marital_status, most recent bank amount, occupation, time taken (seconds), transaction source method, is_busday, year, quarter, month, week, day, hour, minute, second, weekday, no_days_in_month, age_group, diff_current_and_last_amount, diff_recent_and_last_amount, diff_recent_and_current_amount, account type_current bank amount_mean, account type_current bank amount_max, account type_current bank amount_min, account type_current bank amount_range, account type_current bank amount_sum, account type_current bank amount_skew, account type_current bank amount_kurtosis, account type_current bank amount_std, account type_current bank amount_count, account type_last bank amount_mean, account type_last bank amount_max, account type_last bank amount_min, account type_last bank amount_range, account type_last bank amount_sum, account type_last bank amount_skew, account type_last bank amount_kurtosis, account type_last bank amount_std, account type_last bank amount_count, account type_time taken (seconds)_mean, account type_time taken (seconds)_max, account type_time taken (seconds)_min, account type_time taken (seconds)_range, account type_time taken (seconds)_sum, account type_time taken (seconds)_skew, account type_time taken (seconds)_kurtosis, account type_time taken (seconds)_std, account type_time taken (seconds)_count, account type_most recent bank amount_mean, account type_most recent bank amount_max, account type_most recent bank amount_min, account type_most recent bank amount_range, account type_most recent bank amount_sum, account type_most recent bank amount_skew, account type_most recent bank amount_kurtosis, account type_most recent bank amount_std, account type_most recent bank amount_count, account type_age_mean, account type_age_max, account type_age_min, account type_age_range, account type_age_sum, account type_age_skew, account type_age_kurtosis, account type_age_std, account type_age_count, account type_diff_current_and_last_amount_mean, account type_diff_current_and_last_amount_max, account type_diff_current_and_last_amount_min, account type_diff_current_and_last_amount_range, account type_diff_current_and_last_amount_sum, account type_diff_current_and_last_amount_skew, account type_diff_current_and_last_amount_kurtosis, account type_diff_current_and_last_amount_std, account type_diff_current_and_last_amount_count, account type_diff_recent_and_last_amount_mean, account type_diff_recent_and_last_amount_max, account type_diff_recent_and_last_amount_min, account type_diff_recent_and_last_amount_range, account type_diff_recent_and_last_amount_sum, account type_diff_recent_and_last_amount_skew, account type_diff_recent_and_last_amount_kurtosis, account type_diff_recent_and_last_amount_std, account type_diff_recent_and_last_amount_count, account type_diff_recent_and_current_amount_mean, account type_diff_recent_and_current_amount_max, account type_diff_recent_and_current_amount_min, account type_diff_recent_and_current_amount_range, account type_diff_recent_and_current_amount_sum, account type_diff_recent_and_current_amount_skew, account type_diff_recent_and_current_amount_kurtosis, account type_diff_recent_and_current_amount_std, ...]
Index: []

[0 rows x 1259 columns]

In [0]:
cat = ['age', 'account type','account source verification', 'transaction source method', 'account destination verification', 'credit card type',  'age_group', 'marital_status', 'occupation', 'is_busday', 'year', 'quarter', 'month', 'week', 'day', 'hour', 'weekday', 'no_days_in_month', 'minute', 'second']
for i in cat:
  df[i] = df[i].astype('category')

In [0]:
gat =  ['age', 'account type', 'account source verification', 'transaction source method', 'account destination verification', 'credit card type', 'age_group', 'marital_status', 'occupation', 'is_busday', 'year', 'quarter', 'month', 'week', 'day', 'hour', 'weekday', 'no_days_in_month', 'minute', 'second', 'fradulent']
gf = df[gat]
cols_dict = dict()                                 
for col in cat:
  groups = gf.groupby(col)['fradulent'].mean()
  uniques = gf[col].unique()
  uniques_dict = dict(zip(uniques, groups))
  cols_dict[col] = uniques_dict

In [0]:
gf.head()

  age account type account source verification  ... minute second fradulent
0  46       saving                           1  ...     44     58         0
1  64      current                           1  ...      5      7         0
2  41      current                           1  ...     44     58         0
3  66      current                           1  ...      5     32         0
4  78      current                           0  ...     11     57         1

[5 rows x 21 columns]

In [0]:
from sklearn.base import BaseEstimator, TransformerMixin, clone
class MeanEncoder(BaseEstimator, TransformerMixin):
    
    def __init__(self, cols=[]):
        self.cols = cols 

    def transform(self, X, **transformparams):
        assert isinstance(X, pd.DataFrame) 
        for col in self.cols:
            X[col+" mean_encoded"] = X[col].map(self.mean_mapped_dict[col])
        return X

        
    def fit(self, X, y=None, **fitparams):
      assert isinstance(X, pd.DataFrame)
      global cols_dict 
      self.mean_mapped_dict = cols_dict.copy()
      return self

In [0]:
from sklearn.utils import resample


df_majority = df[df.fradulent==0]
df_minority = df[df.fradulent==1]
 
# Upsample minority class
df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples=len(df_majority),    # to match majority class
                                 random_state=32) # reproducible results
 
# Combine majority class with upsampled minority class
df_upsampled = pd.concat([df_majority, df_minority_upsampled])


X = df_upsampled.drop(['fradulent', 'id'], axis=1)
y = df_upsampled['fradulent']

df_minority_upsampled.shape

(7590, 1259)

In [0]:
from sklearn.model_selection import train_test_split, cross_val_score, RandomizedSearchCV
from scipy.stats import uniform, truncnorm, randint

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [0]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, PolynomialFeatures, OrdinalEncoder

cat_feat = df.drop(['fradulent','id'], axis=1).select_dtypes(exclude=['int', 'float']).columns

num_transform1 = Pipeline(steps=[
    ('scaler', StandardScaler()),
    ('poly', PolynomialFeatures(degree=2, include_bias=False))
])

num_transform2 = Pipeline(steps=[
    ('scaler', StandardScaler())
])


cat_transform1 = Pipeline(steps=[
    ('mean_encoder', MeanEncoder(cols=cat_feat)),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
    
])

cat_transform2 = Pipeline(steps=[
    ('mean_encoder', MeanEncoder(cols=cat_feat)),
    ('ordinal', OrdinalEncoder())
    
])

In [0]:
from sklearn.compose import ColumnTransformer
from scipy.stats import uniform, truncnorm, randint
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.feature_selection import SelectKBest


num_feat = X.select_dtypes(include=['int', 'float']).columns
cat_feat = X.select_dtypes(exclude=['int', 'float']).columns

preprocesser = ColumnTransformer(transformers=[
      ('num', num_transform2, num_feat),
      ('cat', cat_transform1, cat_feat)
  ])



clf_pipe = Pipeline(steps=[
      ('preprocesser', preprocesser),
      ('fs', SelectKBest(k=310)),
      ('classifier', KNeighborsClassifier(n_neighbors=10, weights='uniform'))
  ])



print('Model training')
clf = clf_pipe.fit(X, y)

print('Model finished training')
# print('\nBest score:', lr.best_score_)
# print('\nBest Params:', lr.best_params_)
y_pred = clf.predict(X)

print('\naccuarcy score', accuracy_score(y, y_pred))
print('\nroc auc score', roc_auc_score(y, y_pred))
  
if not os.path.exists("/content/drive/My Drive/fraud detection/models"):
    os.makedirs("/content/drive/My Drive/fraud detection/models")

pickle.dump(clf, open(f"/content/drive/My Drive/fraud detection/models/knn_uniform", "wb"))
print("_"*70)

Model training
Model finished training

accuarcy score 0.8204874835309618

roc auc score 0.8204874835309618
______________________________________________________________________

In [0]:
help(cross_val_score)

Help on function cross_val_score in module sklearn.model_selection._validation:

cross_val_score(estimator, X, y=None, groups=None, scoring=None, cv=None, n_jobs=None, verbose=0, fit_params=None, pre_dispatch='2*n_jobs', error_score=nan)
    Evaluate a score by cross-validation

    Read more in the :ref:`User Guide <cross_validation>`.

    Parameters
    ----------
    estimator : estimator object implementing 'fit'
        The object to use to fit the data.

    X : array-like
        The data to fit. Can be for example a list, or an array.

    y : array-like, optional, default: None
        The target variable to try to predict in the case of
        supervised learning.

    groups : array-like, with shape (n_samples,), optional
        Group labels for the samples used while splitting the dataset into
        train/test set. Only used in conjunction with a "Group" :term:`cv`
        instance (e.g., :class:`GroupKFold`).

    scoring : string, callable or None, optional, default: None
        A string (see model evaluation documentation) or
        a scorer callable object / function with signature
        ``scorer(estimator, X, y)`` which should return only
        a single value.

        Similar to :func:`cross_validate`
        but only a single metric is permitted.

        If None, the estimator's default scorer (if available) is used.

    cv : int, cross-validation generator or an iterable, optional
        Determines the cross-validation splitting strategy.
        Possible inputs for cv are:

        - None, to use the default 5-fold cross validation,
        - integer, to specify the number of folds in a `(Stratified)KFold`,
        - :term:`CV splitter`,
        - An iterable yielding (train, test) splits as arrays of indices.

        For integer/None inputs, if the estimator is a classifier and ``y`` is
        either binary or multiclass, :class:`StratifiedKFold` is used. In all
        other cases, :class:`KFold` is used.

        Refer :ref:`User Guide <cross_validation>` for the various
        cross-validation strategies that can be used here.

        .. versionchanged:: 0.22
            ``cv`` default value if None changed from 3-fold to 5-fold.

    n_jobs : int or None, optional (default=None)
        The number of CPUs to use to do the computation.
        ``None`` means 1 unless in a :obj:`joblib.parallel_backend` context.
        ``-1`` means using all processors. See :term:`Glossary <n_jobs>`
        for more details.

    verbose : integer, optional
        The verbosity level.

    fit_params : dict, optional
        Parameters to pass to the fit method of the estimator.

    pre_dispatch : int, or string, optional
        Controls the number of jobs that get dispatched during parallel
        execution. Reducing this number can be useful to avoid an
        explosion of memory consumption when more jobs get dispatched
        than CPUs can process. This parameter can be:

            - None, in which case all the jobs are immediately
              created and spawned. Use this for lightweight and
              fast-running jobs, to avoid delays due to on-demand
              spawning of the jobs

            - An int, giving the exact number of total jobs that are
              spawned

            - A string, giving an expression as a function of n_jobs,
              as in '2*n_jobs'

    error_score : 'raise' or numeric
        Value to assign to the score if an error occurs in estimator fitting.
        If set to 'raise', the error is raised.
        If a numeric value is given, FitFailedWarning is raised. This parameter
        does not affect the refit step, which will always raise the error.

    Returns
    -------
    scores : array of float, shape=(len(list(cv)),)
        Array of scores of the estimator for each run of the cross validation.

    Examples
    --------
    >>> from sklearn import datasets, linear_model
    >>> from sklearn.model_selection import cross_val_score
    >>> diabetes = datasets.load_diabetes()
    >>> X = diabetes.data[:150]
    >>> y = diabetes.target[:150]
    >>> lasso = linear_model.Lasso()
    >>> print(cross_val_score(lasso, X, y, cv=3))
    [0.33150734 0.08022311 0.03531764]

    See Also
    ---------
    :func:`sklearn.model_selection.cross_validate`:
        To run cross-validation on multiple metrics and also to return
        train scores, fit times and score times.

    :func:`sklearn.model_selection.cross_val_predict`:
        Get predictions from each split of cross-validation for diagnostic
        purposes.

    :func:`sklearn.metrics.make_scorer`:
        Make a scorer from a performance metric or loss function.